.select {
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 0.4pt rgba(0,0,0,.87);
  border-radius: 4px;
  font: 400 16px Roboto, sans-serif;
  width: 214px;
  height: 56px;
  padding: 12px 16px 14px;
}

.select:hover{
  box-shadow: 0 0 0 1pt rgba(0,0,0,.87);
}

.select:focus{
  box-shadow: 0 0 0 1pt #6200ee;
}

.label {
  font: 400 16px Roboto, sans-serif;
}
