.checkBox{
  box-sizing: border-box;
  border: 0;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
} 

label {
  line-height: 20px;
  font: 400 14px Roboto, sans-serif;
}

.checkBox:hover {
  box-shadow: 0 0 4pt 2.5pt lightgray;
}