.itemListContainer {
  box-sizing: content-box;
  margin: 0;
  padding: 10px;
  border: 1px solid;
  width: 220px;
  height: 350px;
  border-radius: 4px;
}

.imageContainer {
  width: 200px;
  height: 200px;
  margin: auto;
}

.imageContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.itemListTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  box-sizing: content-box;
  text-transform: uppercase;
  font: 600 16px Roboto, sans-serif;
  color: rgb(0, 38, 255);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.itemListPrice {
  margin-top: 0;
  text-transform: uppercase;
  font: 700 15px Roboto, sans-serif;
  color: rgb(46, 42, 42);


}